{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        aero/aero {:mvn/version "1.1.6"}
        metosin/malli {:mvn/version "0.15.0"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :pg {:extra-deps {org.postgresql/postgresql {:mvn/version "42.7.1"}}}
           :run {:main-opts ["-m" "com.emerauth.core"]
                 :exec-fn com.emerauth.core/-main}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.02.12"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
           :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.45.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
